#hBoxTitle, #paneFirstName, #paneLastName, #paneProfileImage{
    -fx-background-color: #4460F1;
}

.paneName{
    -fx-background-color: #E9EFF6;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.37), 32, 0, 2, 8)
}

.textFieldName{
    -fx-background-color: #E9EFF6;
    -fx-text-inner-color: black;
}